﻿@model Sportszovetseg.Models.Database.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.registrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.registrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastLoginDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastLoginDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.forename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.forename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nationalityCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nationalityCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.selectedLanguage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.selectedLanguage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.birthPlaceLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthPlaceLink.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.homeAddressPlaceLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.homeAddressPlaceLink.address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
