﻿@model Sportszovetseg.Models.Database.User

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthdate" class="control-label"></label>
                <input asp-for="birthdate" class="form-control" />
                <span asp-validation-for="birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthPlaceId" class="control-label"></label>
                <select asp-for="birthPlaceId" class="form-control" asp-items="ViewBag.birthPlaceId"></select>
                <span asp-validation-for="birthPlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="registrationDate" class="control-label"></label>
                <input asp-for="registrationDate" class="form-control" />
                <span asp-validation-for="registrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastLoginDate" class="control-label"></label>
                <input asp-for="lastLoginDate" class="form-control" />
                <span asp-validation-for="lastLoginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surname" class="control-label"></label>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="forename" class="control-label"></label>
                <input asp-for="forename" class="form-control" />
                <span asp-validation-for="forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nationalityCode" class="control-label"></label>
                <input asp-for="nationalityCode" class="form-control" />
                <span asp-validation-for="nationalityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="homeAddressId" class="control-label"></label>
                <select asp-for="homeAddressId" class="form-control" asp-items="ViewBag.homeAddressId"></select>
                <span asp-validation-for="homeAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="selectedLanguage" class="control-label"></label>
                <select asp-for="selectedLanguage" class="form-control">
                    <option value="1">en</option>
                    <option value="2">hu</option>
                </select>
                <span asp-validation-for="selectedLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="gender" /> @Html.DisplayNameFor(model => model.gender)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
