﻿@model IEnumerable<Sportszovetseg.Models.Database.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-responsive table-condensed">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.registrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastLoginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.forename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nationalityCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.selectedLanguage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isDeleted)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.birthPlaceLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.homeAddressPlaceLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastLoginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nationalityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.selectedLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthPlaceLink.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeAddressPlaceLink.address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
